{
    "admin_email"  :  "",
    "nonce_secret" :  "",
    "db"           : {
        "connectionLimit"    : 40,
        "database"           : "",
        "multipleStatements" : true,
        "password"           : "",
        "user"               : ""
    }
}
