{
    "admin_email"  : "",
    "db"           : {
        "connectionLimit"    : 40,
        "database"           : "whatdidyoubid",
        "multipleStatements" : true,
        "password"           : "",
        "user"               : ""
    },
    "http_port"    : 8081,
    "nonce_secret" : "",
    "email_host"   : "whatdidyoubid.com",
    "email_port"   : 587,
    "email_user"   : "",
    "email_pass"   : ""
}
