{
    "admin_email"  : "patrick@whatdidyoubid.com",
    "cookie_name"  : "whatdidyoubid",
    "db"           : {
        "connectionLimit"    : 40,
        "database"           : "whatdidyoubid",
        "multipleStatements" : true,
        "password"           : "1234",
        "user"               : "root"
    },
    "domain_name"  : "whatdidyoubid.com",
    "email"        : {
        "host"     : "whatdidyoubid.com",
        "port"     : 587,
        "user"     : "p",
        "password" : "1234"
    },
    "http_port"    : 8081,
    "nonce_secret" : "1234",
    "stylesheet"   : "style_20170309.css"
}
